 body {
    background-image: url(../HTML/topography.png);
    padding: auto;
} 
nav{
    text-align: right;
    background-color: #333333;
    padding: 30px;
    font-family: consolas, courier;  
}
a:link{
    color: #ff0099;
}
a:visited{
    color: #ff0099;
}
#intro{
    padding:auto;
    
}
h1{
    font-size: 70px;
    padding:10% 10% 0% 0%;
    margin:0%;
}

h2{
    text-align: 50px;
}
.title{

    color: #ff0099;
    font-size: 20px;
    font-family: consolas, courier;
    padding: 0%;
}
.box{
    margin: 10px;
    width: auto;
    height: 70px;    
}

.logo{
    position: relative;
    left: 10%;
    top: 17px;
}
.definition{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: courier;
    font-size: 20px;
}

.div1{
    text-align: center;
}

#wiki{
    padding:0%;
}

#wiki .definition{
    text-align: center;
    padding:auto 10%;
}